section{
  background-image: url("../../images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

table,th,td{
  width: 40%;
}
th{
  text-align: left;
}

header{
  width: 100%;
  top: 60px;
  padding: 5px 9px;
  background: #555;
  color: #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
button{
  margin: 5px;
  margin-top: 30px;
  background-color:#6495ed; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
img{
  height: 40%;
  width: 40%;
  float: right;
  margin-right: 10px;
}
.status{
  font-weight: bold;
}
.status.checked-out{
  color: red;
}
.status.checked-in{
  color: green;
}
